In [1]:
import pandas as pd
from tqdm import tqdm
import chardet
from io import StringIO

In [2]:
people_url = "./data/행정동 단위 서울 생활인구(내국인).csv"
code_url = "./data/행정동코드_매핑정보_20241218.xlsx"

In [3]:
people_data = pd.read_csv(people_url, encoding="EUC-KR")
code_data = pd.read_excel(code_url)

In [4]:
people_data.columns

Index(['기준일ID', '시간대구분', '행정동코드', '총생활인구수', '남자0세부터9세생활인구수', '남자10세부터14세생활인구수',
       '남자15세부터19세생활인구수', '남자20세부터24세생활인구수', '남자25세부터29세생활인구수',
       '남자30세부터34세생활인구수', '남자35세부터39세생활인구수', '남자40세부터44세생활인구수',
       '남자45세부터49세생활인구수', '남자50세부터54세생활인구수', '남자55세부터59세생활인구수',
       '남자60세부터64세생활인구수', '남자65세부터69세생활인구수', '남자70세이상생활인구수', '여자0세부터9세생활인구수',
       '여자10세부터14세생활인구수', '여자15세부터19세생활인구수', '여자20세부터24세생활인구수',
       '여자25세부터29세생활인구수', '여자30세부터34세생활인구수', '여자35세부터39세생활인구수',
       '여자40세부터44세생활인구수', '여자45세부터49세생활인구수', '여자50세부터54세생활인구수',
       '여자55세부터59세생활인구수', '여자60세부터64세생활인구수', '여자65세부터69세생활인구수',
       '여자70세이상생활인구수'],
      dtype='object')

In [5]:
people_data.isnull().sum()

기준일ID              0
시간대구분              0
행정동코드              0
총생활인구수             0
남자0세부터9세생활인구수      0
남자10세부터14세생활인구수    0
남자15세부터19세생활인구수    0
남자20세부터24세생활인구수    0
남자25세부터29세생활인구수    0
남자30세부터34세생활인구수    0
남자35세부터39세생활인구수    0
남자40세부터44세생활인구수    0
남자45세부터49세생활인구수    0
남자50세부터54세생활인구수    0
남자55세부터59세생활인구수    0
남자60세부터64세생활인구수    0
남자65세부터69세생활인구수    0
남자70세이상생활인구수       0
여자0세부터9세생활인구수      0
여자10세부터14세생활인구수    0
여자15세부터19세생활인구수    0
여자20세부터24세생활인구수    0
여자25세부터29세생활인구수    0
여자30세부터34세생활인구수    0
여자35세부터39세생활인구수    0
여자40세부터44세생활인구수    0
여자45세부터49세생활인구수    0
여자50세부터54세생활인구수    0
여자55세부터59세생활인구수    0
여자60세부터64세생활인구수    0
여자65세부터69세생활인구수    0
여자70세이상생활인구수       0
dtype: int64

In [6]:
people_data.head()

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20250330,0,11110515,14156.6789,536.6403,341.9484,498.8853,388.1250,374.0151,370.6547,...,401.4458,479.6166,631.4331,675.0748,710.2330,706.5403,588.7126,516.2312,338.4578,1048.6108
1,20250330,0,11110530,10592.7257,250.8372,111.4832,202.3245,256.2363,333.4230,337.5091,...,365.3549,427.3439,521.8974,492.9203,591.3436,476.4580,438.1118,372.2820,230.7856,784.3681
2,20250330,0,11110540,3628.7154,88.0570,67.4724,99.5789,223.4629,129.6587,130.1481,...,129.4536,82.6647,152.9176,173.3287,163.8470,131.3347,132.3279,109.3360,81.7192,247.9446
3,20250330,0,11110550,12423.4585,370.3936,287.1979,371.7975,356.1497,376.9577,295.3544,...,346.3459,418.8817,422.4936,535.9694,635.1824,534.6978,563.3083,477.4593,350.5133,1014.5180
4,20250330,0,11110560,18704.5573,621.1105,449.2690,499.4232,630.6218,388.6967,331.9429,...,416.1504,426.5722,684.0967,788.1879,864.8064,855.0512,993.7706,911.1724,556.5492,1719.7720

In [7]:
len(people_data)

559680

In [8]:
people_data['행정동코드'].value_counts()

행정동코드
11110515    1320
11560605    1320
11560560    1320
11560550    1320
11560540    1320
            ...
11305610    1320
11305606    1320
11305600    1320
11305590    1320
11740700    1320
Name: count, Length: 424, dtype: int64

In [9]:
code_data.columns

Index(['통계청행정동코드', '행자부행정동코드', '시도명', '시군구명', '행정동명'], dtype='object')

In [10]:
code_data

      통계청행정동코드  행자부행정동코드    시도명   시군구명      행정동명
0    H_SDNG_CD  H_DNG_CD  DO_NM  CT_NM  H_DNG_NM
1      1101053  11110530     서울    종로구       사직동
2      1101054  11110540     서울    종로구       삼청동
3      1101055  11110550     서울    종로구       부암동
4      1101056  11110560     서울    종로구       평창동
..         ...       ...    ...    ...       ...
420    1125070  11740690     서울    강동구      둔촌1동
421    1125071  11740700     서울    강동구      둔촌2동
422    1125072  11740570     서울    강동구      암사1동
423    1125073  11740610     서울    강동구      천호2동
424    1125074  11740685     서울    강동구        길동

[425 rows x 5 columns]

In [11]:
code_list = code_data[['행자부행정동코드', '행정동명', '시군구명']].to_numpy().tolist()

In [12]:
people_data['행정동코드'].value_counts()

행정동코드
11110515    1320
11560605    1320
11560560    1320
11560550    1320
11560540    1320
            ...
11305610    1320
11305606    1320
11305600    1320
11305590    1320
11740700    1320
Name: count, Length: 424, dtype: int64

In [13]:
code_list[15]

['11110710', '숭인2동', '종로구']

In [14]:
# 1. 먼저 문자열 타입으로 변경
people_data['행정동코드'] = people_data['행정동코드'].astype(str)

# 2. 값 대체
for i in tqdm(range(len(people_data))):
    target_code = people_data.iloc[i]['행정동코드'] 
    for n in range(len(code_list)):
        if target_code in code_list[n] :
            people_data.loc[i, '행정동'] = code_list[n][1]
            people_data.loc[i, '행정구'] = code_list[n][2]

100%|████████████████████████████████| 559680/559680 [00:55<00:00, 10120.53it/s]

In [15]:
print(people_data['행정동'].value_counts())
print("-------------------------------")
print(people_data['행정구'].value_counts())

행정동
신사동      2640
청운효자동    1320
당산2동     1320
당산1동     1320
여의동      1320
         ...
수유1동     1320
번3동      1320
번2동      1320
번1동      1320
둔촌2동     1320
Name: count, Length: 423, dtype: int64
-------------------------------
행정구
송파구     35640
강남구     29040
관악구     27720
성북구     26400
강서구     26400
노원구     25080
강동구     23760
서초구     23760
영등포구    23760
양천구     23760
종로구     22440
성동구     22440
은평구     21120
마포구     21120
중랑구     21120
용산구     21120
중구      19800
구로구     19800
동작구     19800
광진구     19800
도봉구     18480
동대문구    18480
서대문구    18480
강북구     17160
금천구     13200
Name: count, dtype: int64

In [16]:
# 1단계: 날짜 + 행정동 기준으로 하루 총생활인구수 구하기
하루_동별_인구 = people_data.groupby(["기준일ID", "행정구", "행정동"])["총생활인구수"].sum().reset_index()

# 2단계: 행정구 + 행정동별 하루 평균 구하기
동별_하루평균_인구 = 하루_동별_인구.groupby(["행정구", "행정동"])[["총생활인구수"]].mean().reset_index()

In [17]:
print(동별_하루평균_인구) #동별 하루평균 유동인구.

     행정구   행정동        총생활인구수
0    강남구  개포1동  5.832786e+05
1    강남구  개포2동  8.009641e+05
2    강남구  개포4동  3.764363e+05
3    강남구  논현1동  1.005250e+06
4    강남구  논현2동  1.145020e+06
..   ...   ...           ...
419  중랑구  상봉2동  6.021714e+05
420  중랑구  신내1동  8.078498e+05
421  중랑구  신내2동  3.563282e+05
422  중랑구  중화1동  3.859839e+05
423  중랑구  중화2동  5.784949e+05

[424 rows x 3 columns]

In [18]:
동별_하루평균_인구.to_csv("../서울시_자동차_도로_수집/data/서울시_동별_하루평균_유동인구.csv", encoding = "UTF-8", index=False)