In [1]:
import pandas as pd
from tqdm import tqdm

In [17]:
people_data = pd.read_csv("./data/서울시_동별_하루평균_유동인구.csv")
road_data = pd.read_csv("./make_file/(표면)_서울열선_광진도로.csv")

In [18]:
road_data['행정동']

0       일원1동
1        세곡동
2       삼성1동
3        청담동
4        청담동
        ...
7207    중곡2동
7208    중곡2동
7209    중곡2동
7210    중곡2동
7211    중곡2동
Name: 행정동, Length: 7212, dtype: object

In [19]:
people_data[people_data['행정구'] == '광진구']

     행정구   행정동         총생활인구수
93   광진구   광장동  845003.636200
94   광진구  구의1동  525582.687753
95   광진구  구의2동  457624.683629
96   광진구  구의3동  668180.463593
97   광진구   군자동  582292.517720
98   광진구    능동  371402.674435
99   광진구  자양1동  598211.941075
100  광진구  자양2동  504804.480558
101  광진구  자양3동  619954.473071
102  광진구  자양4동  627107.215238
103  광진구  중곡1동  356386.006547
104  광진구  중곡2동  427294.937844
105  광진구  중곡3동  353811.963469
106  광진구  중곡4동  571703.539756
107  광진구   화양동  933033.098567

In [20]:
for i in tqdm(range(len(road_data))) :
    dong_name = road_data.loc[i, '행정동']
    dong_name = dong_name.replace("·", ".")
    for n in range(len(people_data)) :
        people_dong = people_data.loc[n, '행정동']
        if people_dong == dong_name :
            road_data.loc[i, '생활인구'] = people_data.loc[n, '총생활인구수']

100%|█████████████████████████████████████| 7212/7212 [00:06<00:00, 1077.62it/s]

In [21]:
road_data['생활인구'].isnull().sum()

np.int64(0)

In [22]:
road_data[road_data['생활인구'].isnull()]

Empty DataFrame
Columns: [도로명, 열선, 도로 종류, 시작점_위도, 시작점_경도, 종료점_위도, 종료점_경도, 중앙점_위도, 중앙점_경도, 도로_길이, 도로폭, 도로규모, 행정구역, 고도의_차이, 경사각, 최근접_시설들_거리, 최근접_시설의_평균거리, 2019_평균_온도, 2020_평균_온도, 2021_평균_온도, 2022_평균_온도, 2023_평균_온도, 2024_평균_온도, 종합_평균_기온, 행정동, 생활인구]
Index: []

[0 rows x 26 columns]

In [23]:
people_data[people_data['행정동'] == '상계3.4동']

     행정구     행정동         총생활인구수
138  노원구  상계3.4동  489152.683631

In [24]:
people_data[people_data['행정동'].str.startswith('상계')]

     행정구     행정동        총생활인구수
135  노원구   상계10동  3.023063e+05
136  노원구    상계1동  7.959057e+05
137  노원구    상계2동  6.662329e+05
138  노원구  상계3.4동  4.891527e+05
139  노원구    상계5동  3.735046e+05
140  노원구  상계6.7동  1.079875e+06
141  노원구    상계8동  4.320031e+05
142  노원구    상계9동  3.916620e+05

In [25]:
try : 
    save_url = "./make_file/(최종)_서울열선_광진도로.csv"
    road_data.to_csv(save_url, encoding="UTF-8", index=False)
    print(f"{save_url} 저장 완료")
except OSError as e:
    print(e)

./make_file/(최종)_서울열선_광진도로.csv 저장 완료