# 데이터 증폭을 배열로 설정할 것.

In [1]:
# 데이터 증강 배수 설정 
augmentation_factor = 150

In [2]:
import pandas as pd 
import numpy as np

In [3]:
url = '../광진구 취약시설 사이의 거리 측정/make_file/(최종)_통합_데이터_파일.csv'
encoding = "EUC-KR"

In [4]:
data = pd.read_csv(url, encoding = encoding)

In [5]:
data.head()

   Unnamed: 0         위도          경도       경사각      평균_거리차  열선여부
0           0  37.546128  127.099902  2.487682  223.024085     0
1           1  37.546024  127.097913  5.209767  227.938028     0
2           2  37.544745  127.097490  2.883715  242.674837     0
3           3  37.533508  127.075772  0.507954  260.282317     0
4           4  37.532898  127.075599  0.321100  230.108658     0

In [6]:
len(data)

6273

In [7]:
data.columns

Index(['Unnamed: 0', '위도', '경도', '경사각', '평균_거리차', '열선여부'], dtype='object')

In [8]:
data = data.drop('Unnamed: 0', axis=1)

In [9]:
data['원본여부'] = 1

In [10]:
data.columns

Index(['위도', '경도', '경사각', '평균_거리차', '열선여부', '원본여부'], dtype='object')

In [11]:
# lat_list = data['위도'].to_list()
# lon_list = data['경도'].to_list()
# angle_list = data['경사각'].to_list()
# avg_different_list = data['평균_거리차'].to_list()

# anwer_list = data['열선여부'].to_list()

In [12]:
road = data[data['열선여부'] == 0]
answer = data[data['열선여부'] == 1]

In [13]:
road.head()

          위도          경도       경사각      평균_거리차  열선여부  원본여부
0  37.546128  127.099902  2.487682  223.024085     0     1
1  37.546024  127.097913  5.209767  227.938028     0     1
2  37.544745  127.097490  2.883715  242.674837     0     1
3  37.533508  127.075772  0.507954  260.282317     0     1
4  37.532898  127.075599  0.321100  230.108658     0     1

In [14]:
answer.head()

             위도          경도       경사각      평균_거리차  열선여부  원본여부
6232  37.553039  127.097008  7.851888  184.137070     1     1
6233  37.553626  127.097029  5.862993  184.374022     1     1
6234  37.567109  127.088453  0.000000  129.476463     1     1
6235  37.570235  127.085884  5.678818  292.900094     1     1
6236  37.551073  127.110615  0.000000  748.250385     1     1

## 열선 데이터를 늘리기 시작

In [15]:
# 빈 리스트 준비
augmented_data = []

In [16]:
for _ in range(augmentation_factor):
    for _, row in answer.iterrows():
        new_lat = row['위도'] + np.random.uniform(0, 0.005)  # 위도 변형
        new_lon = row['경도'] + np.random.uniform(0, 0.005)  # 경도 변형
        new_angle = abs(row['경사각'] + np.random.uniform(0, 7))  # 경사각 변형
        new_avg_different = row['평균_거리차'] + np.random.uniform(-50, 50)  # 거리 변형

        # 열선 여부
        new_heatmap = row['열선여부']

        # 오리지널 데이터 여부
        new_origin = 0

        # 늘린 데이터 셋
        augmented_data.append([new_lat, new_lon, new_angle, new_avg_different, new_heatmap, new_origin])

In [17]:
# 증강된 데이터프레임 생성
augmented_df = pd.DataFrame(augmented_data, columns=['위도', '경도', '경사각', '평균_거리차', '열선여부', '원본여부'])

In [18]:
# 원본 + 증강 데이터를 합치기
final_df = pd.concat([answer, augmented_df], ignore_index=True)

In [19]:
# 결과 확인
print(final_df.head())

          위도          경도       경사각      평균_거리차  열선여부  원본여부
0  37.553039  127.097008  7.851888  184.137070   1.0     1
1  37.553626  127.097029  5.862993  184.374022   1.0     1
2  37.567109  127.088453  0.000000  129.476463   1.0     1
3  37.570235  127.085884  5.678818  292.900094   1.0     1
4  37.551073  127.110615  0.000000  748.250385   1.0     1

In [20]:
print("총 데이터 개수:", len(final_df))

총 데이터 개수: 6191

In [21]:
save_file_url = './make_file/증폭_열선_데이터.csv'

In [22]:
try :
    final_df.to_csv(save_file_url, index=False)
    print(f"{save_file_url} 파일 저장 성공")
except OSError as e:
    print(e)

./make_file/증폭_열선_데이터.csv 파일 저장 성공

## 데이터 합치기

In [23]:
# 원본 + 증강 데이터를 합치기
total_df = pd.concat([final_df, road], ignore_index=True)

In [24]:
len(total_df)

12423

In [25]:
save_total_file_url = './make_file/증폭_종합_데이터.csv'

In [26]:
try :
    total_df.to_csv(save_total_file_url, index=False)
    print(f"{save_file_url} 파일 저장 성공")
except OSError as e:
    print(e)

./make_file/증폭_열선_데이터.csv 파일 저장 성공