In [1]:
import pandas as pd

In [3]:
rank_url = "./data/광진구_동별_사고순위.csv"
road_url = "./make_file/(동)자동차_도로_고도차이(경사각)_포함_데이터.csv"
file_encoding = "UTF-8"

In [15]:
rank_data = pd.read_csv(rank_url, encoding = file_encoding)
road_data = pd.read_csv(road_url, encoding = file_encoding)

In [16]:
rank_data.columns

Index(['동명', '사고순위'], dtype='object')

In [17]:
road_data.columns

Index(['도로명', '도로 종류', '시작점_위도', '시작점_경도', '종료점_위도', '종료점_경도', '중앙점_위도',
       '중앙점_경도', '시작점_고도', '종료점_고도', '고도의_차이', '경사각', '도로_길이', '터널 여부',
       '교량 여부', '서비스 도로 여부', '도로 ID', '속도 제한', '차선 수', '일방통행 여부', '교차로 여부',
       '행정동', '주소', '도로명_여부'],
      dtype='object')

In [18]:
print(road_data['행정동'].isnull().sum())
print(road_data['행정동'].isna().sum())

0
0

In [20]:
road_data

    동명  사고순위
0  자양동     1
1  중곡동     2
2  구의동     3
3  화양동     4
4  군자동     5
5  광장동     6
6   능동     7

In [53]:
road_data['행정동_사고_순위'] = road_data['행정동'].map(rank_data.set_index('동명')['사고순위'])

In [55]:
road_data['행정동_사고_순위'].value_counts()

행정동_사고_순위
1    1973
2    1312
3    1244
5     720
4     557
7     232
6     194
Name: count, dtype: int64

In [57]:
road_data.head(1)

,도로명,도로 종류,시작점_위도,시작점_경도,종료점_위도,종료점_경도,중앙점_위도,중앙점_경도,시작점_고도,종료점_고도,...,서비스 도로 여부,도로 ID,속도 제한,차선 수,일방통행 여부,교차로 여부,행정동,주소,도로명_여부,행정동_사고_순위
0,"['광장앞지하차도', '광장로']",3차로,37.545509,127.097772,37.546747,127.102031,37.546128,127.099902,39.830399,21.125259,...,NaN,"[175320385, 175320419, 175320429]",NaN,NaN,NaN,NaN,광장동,광장로 11 (광장동),1,6

In [64]:
# 도로 수 대비 사고율 분석
road_rank_df = road_data['행정동'].value_counts().reset_index()
road_rank_df.columns = ['행정동', '도로의_수']

# 사고건수 추가하기
# road_rank_df['사고건수'] = road_rank_df['행정동'].map(rank_data['행정동', '사고건수']) 

# # 도로수 대비 사고율 계산
# road_rank_df['도로수_대비_사고율'] = road_rank_df['사고건수'] / road_rank_df['도로의_수']

# # 도로수 대비 사고율 순위 계산 (내림차순) 
# road_rank_df['도로수_대비_사고순위'] = road_rank_df['도로수_대비_사고율'].rank(ascending=False, method='min').astype(int)

In [65]:
road_rank_df

   행정동  도로의_수
0  자양동   1973
1  중곡동   1312
2  구의동   1244
3  군자동    720
4  화양동    557
5   능동    232
6  광장동    194

In [66]:
try : 
    save_url = "./make_file/(최종)자동차_도로_고도차이(경사각)_포함_데이터.csv"
    road_data.to_csv(save_url, encoding = file_encoding, index = False)
    print(f"{save_url} 파일 저장 완료.")
except OSError as e :
    print(e)

./make_file/(최종)자동차_도로_고도차이(경사각)_포함_데이터.csv 파일 저장 완료.